{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | {{ constance.SITE_TITLE }}{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/metisMenu.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/mm-vertical.css' %}">
    <link rel="stylesheet" type="text/css" href="//cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css">
    <style>
        #header h1 {
            font-weight: bold;
        }
        #branding {
            padding-top: 15px !important;
        }
        .login #branding {
            float: left;
            text-align: center;
            padding: 15px 0 0 0;
        }
        .login #header h1 {
            margin: 0;
            font-size: 18px;
            text-align: center;
        }
        #sidenavButton {
            padding: 10px 10px 5px;
            background: none;
            border: 1px solid white;
            border-radius: 3px;
        }
        #sidenavButton span {
            width: 25px;
            height: 3px;
            display: block;
            background-color: white;
            margin-bottom: 5px;
        }
        .sidenav-header {
            text-align: center;
            background: #212529;
            padding: 30px 30px 15px;
            border-bottom: 1px solid #112529;
        }
        .sidenav-header h1 {
            margin-bottom: 0;
            font-weight: bold;
            color: #f5dd5d;
        }
        .sidenav-header span {
            color: #f5dd5d;
        }
        img.sidenav-header-logo {
            max-height: 80px;
            max-width: 120px;
            margin-bottom: 15px;    
        }

        div.breadcrumbs {
            font-size: 12px !important;
        }
        .object-tools a {
            border-radius: 3px;
            padding-top: 5px !important;
            padding-bottom: 3px !important;
        }
        .admindatefilter input[type="text"] {
            width: 75%;
            margin-right: 5px;
        }
        .admindatefilter .button , .admindatefilter input[type="submit"] {
            border: 0 !important;
            color: #447e9b !important;
            cursor: pointer !important;
            margin-right: 15px !important;
            font-size: 12px !important;
            font-weight: 600 !important;
            padding: 0 !important;
            background: transparent !important;
        }
        #changelist-filter .admin-numeric-filter-wrapper button {
            float: left !important;
        }
        .column-edit_link,
        .column-delete_link, 
        .column-view_link{
            width: 30px;
        }
        .deletelink {
            padding-left: 16px;
            background-position-x: 1px;
            background-position-y: 0;
            margin-right: 5px;
        }
        .changelink {
            margin-right: 5px;
        }
        .viewlink {
            padding-left: 16px;
            background-position-x: 1px;
            background-position-y: 1px;
            margin-right: 5px;
        }
        
        .footer_menu {
            background-color: #f8f8f8;
            padding: 15px 30px;;
        }
        .footer_copyright {
            background-color: #dedede;
            padding: 15px 30px;
            text-align: center;
        }
        .footer_copyright p {
            margin: 0;
        }
    </style>
    {% if has_permission %}
    <style>
        #content {
            min-height: 60vh;
        }
        .footer {
            color: white;
            margin-top: 60px;
        }
        .breadcrumbs,
        #header, #sidenav {
            box-shadow: 0 1px 3px #888;
        }
        #branding h1 {
            font-weight: bold;
            font-size: 14px;
        }
        #branding p {
            font-size: 12px;
        }
        #sidenav {
            transition: all .2s ease-in;
            height: 100vh;
            width: 265px;
            overflow-y: auto;
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
        }
        #overlay {
            display: none;
            height: 0;
            width: 0;
            top: 0;
            left: 0;
            position: fixed;
            z-index: 999;
            background-color: #112529;
            opacity: 0.5;
        }
        #sidenav.active {
                left: 0;
            }
        .sidenav_white{
            background-color: white;
        }
        #container {
            transition: all .2s ease-in;
            margin-left: 265px;
            width: auto;
        }
        #sidenavButton {
            display: none;
        }
        @media (max-width: 1024px) {
            #branding {
                text-align: center;
            }
        }
        @media (max-width: 767px) {
            #overlay.active {
                display: block;
                height: 100vh;
                width: 100vw;
            }
            #sidenavButton {
                display: inline-block;
            }
            #sidenav {
                left: -265px;
            }
            #container {
                margin-left: 0;
            }
            #sidenav.active {
                left: 0;
            }
        }
    </style>
    {% endif %}
{% endblock %}

{% block sidenav %}
    {% if has_permission %}
        {% include 'admin/sidenav.html' %}
    {% endif %}
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ constance.SITE_TITLE | upper }}</a></h1>
<p id="site-subtitle">{{ constance.SITE_SUBTITLE }}</p>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extra_script %}
<script src="{% static 'admin/js/jquery.min.js' %}"></script>
<script src="{% static 'admin/js/metismenu.js' %}"></script>
<script src="{% static 'admin/js/mm-vertical.js' %}"></script>
{% endblock %}

{% block footer %}
<div class="footer">
    <div class="footer_menu"></div>
    <div class="footer_copyright">
        <p class="small"><a href="#">Copyright © 2019 - 2020</a></p>
    </div>
</div>
{% endblock %}