{% load static %}
<div id="overlay"></div>
<nav id='sidenav' class="sidenav sidebar-nav">
    <div class="sidenav-header">
        <img class="sidenav-header-logo" src="{% static 'admin/img/logo_color.png' %}" alt="branding">
        <h1>SISTER CLOUD</h1>
        <span>Versi 1.0.0</span>
    </div>
    <ul class="metismenu">
        <li>
            <a class="has-arrow" href="#" aria-expanded="false">Menu 1</a>
            <ul>
                <li><a class="has-arrow" href="#">Menu 1</a></li>
                <li><a class="has-arrow" href="#">Menu 1</a></li>
                <li><a class="has-arrow" href="#">Menu 1</a></li>
                <li><a class="has-arrow" href="#">Menu 1</a></li>
            </ul>
        </li>
        <li>
            <a class="has-arrow" href="#" aria-expanded="false">Menu 1</a>
            <ul>
                <li><a class="has-arrow" href="#">Menu 1</a></li>
                <li><a class="has-arrow" href="#">Menu 1</a></li>
                <li><a class="has-arrow" href="#">Menu 1</a></li>
                <li><a class="has-arrow" href="#">Menu 1</a></li>
                <li><a class="has-arrow" href="#">Menu 1</a></li>
                <li><a class="has-arrow" href="#">Menu 1</a></li>
                <li><a class="has-arrow" href="#">Menu 1</a></li>
                <li><a class="has-arrow" href="#">Menu 1</a></li>
                <li><a class="has-arrow" href="#">Menu 1</a></li>
                <li><a class="has-arrow" href="#">Menu 1</a></li>
                <li><a class="has-arrow" href="#">Menu 1</a></li>
                <li><a class="has-arrow" href="#">Menu 1</a></li>
            </ul>
        </li>
        <li>
            <a class="has-arrow" href="#" aria-expanded="false">Menu 1</a>
            <ul>
                <li><a class="has-arrow" href="#">Menu 1</a></li>
                <li><a class="has-arrow" href="#">Menu 1</a></li>
                <li><a class="has-arrow" href="#">Menu 1</a></li>
                <li><a class="has-arrow" href="#">Menu 1</a></li>
            </ul>
        </li>
    </ul>
</nav>